@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --network-color: #ff0083;

  --ui-black: #302b3c;
  --ui-white: #ffffff;
  --ui-link: #0085ff;
  --ui-error: #ff475d;
  --ui-success: #6bc10e;
  --ui-warning: #ffb600;
  --ui-b2: #9d9d9d;
  --ui-b3: #d8d8d8;
  --ui-b4: #f2f4fa;
  --ui-bg: #fbfbfd;
  --ui-hover: "#fbfbfb";
}

:root html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

a {
  @apply text-sub-link;
}

body {
  color: var(--ui-black);
  @apply bg-sub-bg;
}

@layer components {
  .menu-item {
    @apply flex w-full items-center rounded px-2 py-2 text-sm cursor-pointer whitespace-nowrap !text-sub-black;
  }
}
