@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --network-color: #FF0083;

  --ui-black: #302B3C;
  --ui-white: #FFFFFF;
  --ui-link: #0085FF;
  --ui-error: #FF475D;
  --ui-success: #6BC10E;
  --ui-warning: #FFB600;
  --ui-b2: #9D9D9D;
  --ui-b3: #D8D8D8;
  --ui-b4: #F2F4FA;
  --ui-bg: #FBFBFD;
  --ui-hover: '#fbfbfb';
}

:root html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--ui-black);
  @apply bg-sub-bg;
}

.fade-picker-enter {
  opacity: 0;
  transform: scaleY(0.9);
}

.fade-picker-enter-active {
  transform-origin: top;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 100ms, opacity 100ms;
}

.fade-picker-exit {
  opacity: 1;
  transform: scaleY(1);
}

.fade-picker-exit-active {
  transform-origin: top;
  transform: scaleY(0.9);
  opacity: 0;
  transition: transform 100ms, opacity 100ms;
}
